.NavBarComponent{
margin:30px 0;
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .NavBarComponent{
        text-align: center;
        margin:auto;
        justify-content: space-around;
        gap:5px;
    }
}