@media screen and (max-width: 600px) {
    .NavBarComponent{
            display: flex;
            flex-direction: row;
            position:fixed;
            justify-content: space-between;
            bottom: 0;
            width: 100%;
            background-color: var(--background-darker);
    }
}