.searchInputs {
    margin-top: 50px;
    display: flex;
  }
  
  .search input {
    background-color: rgb(243, 243, 243);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 3000px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  .search input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 340px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    margin:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  .dataItem .textItem {
    margin:auto;
    text-align: center;
  }
  .search .dataItem {
    text-decoration: none;
  }
  
  .search .dataItem:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }