.NavItemComponent {
    padding: 7px 0;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    font-size: 20px;
    color: var(--primary-color) !important;
}


@media screen and (max-width: 600px) {
    .NavItemComponent{
        display: inline-block;
        text-align: center;
        flex: 1 1 auto;
        color: var(--primary-color) !important;
    }
    .BorderLeft{
        border-left:1px solid white;
    }
}