.HeaderComponent {
    display:flex;
    flex-direction: column;
}

.title {
    font-size: 45px;
    color: var(--primary-color)
}
.subtitle{
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .HeaderComponent{
        top:0;
        position: absolute;
        display: flex;
        justify-items: center;
        align-items: center;
        width:100%;
        height: var(--header-height);
        background: var(--background-darker);
    }

    .title {
        font-size: 25px;
        color: var(--primary-color)
    }
    .subtitle{
        display:None;
    }
  }