$background: #000000;
$primary: #FFAC4D;
$secondary:#E9F1F7;
$fontSize: calc(20px + 2vmin);
.secondary-color{
  color:$secondary;
}

.App {
  text-align: center;
}

.App-logo {
}

.App-header {
  background-color: $background;
  min-height: 100vh;
  font-size: $fontSize;
  color:$primary;
}

.small-font{
  font-size:20px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid{
  display:grid;
  grid-template-columns: 300px 1fr;
}


// //   article {
//   width:clamp
// //   }