
/* COLORS */
.primary-color{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}

.third-color{
  color: var(--third-color);
}

.forth-color{
  color: var(--forth-color);
}

.container{
  margin:50px auto;
  max-width: 650px;
}

