
/* COLORS */
.primary-color{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}

.third-color{
  color: var(--third-color);
}

.forth-color{
  color: var(--forth-color);
}


/* GRID */
.left-side{
  display:flex;
  flex-direction: column;
  width:170px;
  padding-right: 10px;
  border-right: 1px solid var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .left-side{
    border:none;
    display:flex;
    width:auto;
    padding:0;
    margin:0;
  }
}

.main-grid{
  padding: 50px 20px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 600px) {
  .main-grid{
    padding: 0;
  }
}

.active{
  color: var(--secondary-color);
}

.center{
  display: flex;
  justify-content: center; /* X */
  align-items: center; /* Y */
}

.noma{
  margin:0 !important;
}
.nomato{
  margin-top:0 !important;
}
.nopa{
  margin: 0 !important;
}
.App {
  text-align: start;
}

.App-header {
  background-color: var(--background);
  min-height: 100vh;
  color: var(--secondary-color);
}

a {
  text-decoration: None;
  color: inherit;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  color: inherit;
}

.responsive-margin{
  margin-left: 40px;
  width:100%;
}
/* RESETS */
@media screen and (max-width: 600px) {
  .responsive-margin{
    margin:0 auto;
    width:96%;
    margin-top:calc(var(--header-height) + 30px);
    margin-bottom:calc(var(--header-height) + 30px);
  }
}